@import "../layouts/_colors";
@import "../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.photos-page {
  background-color: $off-background;
  height: 100%;
  min-height: 100vh;
  .top {
    padding-top: 63px;
    margin: 1em 0;
    text-align: center;
    .place {
      font-size: 46px;
      color: $grey-text;
      font-weight: bold;
      margin-bottom: .5em;
    }
    .num-photos {
      font-size: 30px;
      color: $grey-text;
    }
  }

  .photos-container {
    max-width: 1000px;
    width: 80%;
    height: 100%;
    .image-gallery  {
      .image-gallery-content.fullscreen {
        max-width: 1000px;
        .image-gallery-image {
          background-color: black;
        }
      }
      .image-gallery-image {
        background-color: $off-background;
        text-align: center;
      }
      img {
        margin: 0;
        max-height: 700px;
        width: auto;
      }
      button {
        opacity: 0;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
      }

      .image-gallery-content:hover button {
        opacity: 1;
        transition: opacity .55s ease-in-out;
        -moz-transition: opacity .55s ease-in-out;
        -webkit-transition: opacity .55s ease-in-out;
      }

      .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
        color: $orange;
      }

      .image-gallery-thumbnail.active {
        border-color: $orange;
      }

      .image-gallery-slides{
        //border: 15px solid #3e2b14;
        //padding: 10px;
      }
    }
  }
}