.home-page {
  height: 100%;
  color: #192550;

  .title-section {
    color: white;
    height: 100vh;
    min-height: 100vh;
    position: relative;

    .title-name {
      font-size: 46px;
      margin: .5em .5em .25em .5em;
    }

    .title-description {
      font-size: 18px;
      margin: .25em .5em .5em .5em;
    }

    .dropdown-menu {
      ul {
        list-style: none;
        margin: 0 1.5em 0 0;
        li {
          margin: 0;

          a {
            text-decoration: none;
            color: white;
            font-size: 48px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 110px;
            height: 80px;
            background-color: #FF9800;

            .bounce {
              display: inline-block;
              position: relative;
              -moz-animation: bounce 0.5s infinite linear;
              -o-animation: bounce 0.5s infinite linear;
              -webkit-animation: bounce 0.5s infinite linear;
              animation: bounce 0.5s infinite linear;
            }
          }
        }
      }
    }
  }
  .sections {
    //position: relative;

    .menu-container {
      position: -webkit-sticky;
      position: sticky;
      margin: 0 1.5em 0 1.5em;
      top: 1.5em;

      .menu-bars {
        width: 100%;
        height: 50px;
        background-color: black;
        button {
          color: #787878;
          font-size: 24px;
          background-color: transparent;
          border: 1px solid #787878;
          outline: none;
          margin-right: 1.1em;
          i {
            display:inline-block;
            vertical-align:middle;
          }
        }
        display: none;
      }

      .menu-bars button:hover {
        background-color: #787878;
        color: black;
        border-color: #787878;
      }
    }
    .menu-container ul {
      list-style: none;

      li {
        margin: 0;
        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
          font-weight: bold;
          width: 110px;
          height: 80px;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          background-color: black;
        }
        a:hover {
          color: #787878;
        }
      }
      li.is-current a {
        background-color: #FF9800;
      }
    }

  }
  #profile {
    margin-top: -346px;

    .profile-details {
      margin: 1em;
      width: 75%;
      .about {
        .about-me {
          color: #FF9800;
          font-size: 36px;
          margin-bottom: .5em;
        }
        .description {
          font-size: 18px;
          color: #787878;
        }
      }
      .profile-photo img {
        margin: 1em 2em;
        max-width: 250px;
      }
      .contact {
        .details {
          color: #FF9800;
          font-size: 36px;
          margin-bottom: .5em;
        }
        .label {
          font-weight: bold;
          font-size: 18px;
          color: black;
        }
        .answer {
          font-size: 18px;
          color: #787878;
          z-index: 100;

          i {
            font-size: 28px;
            color: #FF9800;
          }
        }
      }
    }
  }
  .section-container {
    min-height: 500px;
    &.colored {
      background-color: #f4efe1;
    }
    .section {
      width: 80%;
      max-width: 80%;

      .section-header {
        min-height: 150px;
        border-bottom: 1px solid #DADADA;
        text-align: center;

        .title {
          text-align: center;
          color: #FF9800;
          font-size: 46px;
          margin-bottom: .5em;

        }
        .description {
          color: #787878;
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 959px) {
    .title-section .dropdown-menu ul {
      margin: 0;
      width: 100%;

      li a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
      }
    }
    .sections .menu-container {
      margin: 0;
      top: 0;
      z-index: 101;

      .menu-bars {
        display: inherit;
      }

      ul {
        margin: 0;
        width: 100%;

        li a {
          display: block;
          width: 100%;
          height: 50px;
          line-height: 50px;
        }
      }
      ul.closed {
        visibility: hidden;
      }
    }
    #profile {
      margin-top: -200px !important;
    }
  }
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.1em; }
  70% { top: -0.2em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.1em; }
  70% { top: -0.2em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.1em; }
  70% { top: -0.2em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.1em; }
  70% { top: -0.2em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.1em; }
  70% { top: -0.2em; }
  100% { top: 0; }
}