.home-page {
  height: 100%;
  color: #192550;

  .title-section {
    color: white;
    .title-name {
      font-size: 48px;
      margin: .5em .5em .25em .5em;
    }

    .title-description {
      font-size: 18px;
      margin: .25em .5em .5em .5em;
    }
  }
}