.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 1em;
  border-bottom: 1px solid #DADADA;
  z-index: 101;

  .header-name {
    color: white;
    font-size: 24px;
  }
  .header-links {
    text-align: right;
  }
  .header-links a {
    color: white;
    text-decoration: none;
    padding-left: 1em;
    padding-right: 1em;
    &:not(.last) {
      border-right: 1px solid white;
    }
  }
}